@page
@model IdentityDemo.Areas.Identity.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Users List";
}

<div class="m-2">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Normalized</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var user in Model.Users){
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.NormalizedUserName</td>
                    <td>
                        <a asp-page="Claims" asp-route-id="@user.Id">Manage Claims</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
