@page
@model IdentityDemo.Areas.Identity.Pages.Roles.ManageClaimsModel
@{
    ViewData["Title"] = "Claims";
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Claim Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.Claims)
        {
            <tr>
                <td>@claim.Value</td>
            </tr>
        }

    </tbody>
</table>
